@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
body{
    margin: 0; 
    padding: 0;
    background: inherit;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 1em;
  /* background-color: blue; */
  aspect-ratio: 1;
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  background-color: #213547;
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: ; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: #ffffffaa; */
  border-color: orangered;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.button-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  /* width: 100%;
  height: 100%; */
  padding: 8px 16px; /* Adjust padding to fit within the button */
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #ff4000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  will-change: filter;
  transition: filter 300ms;
}

.logout-button:hover {
  filter: drop-shadow(0 0 1em #fc4001d2);
}

.close-button{
  background-color: transparent;
  /* border-radius: 50px; */
  border: 2px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: ; */
  cursor: pointer;
  transition: border-color 0.25s;
}

.close-button:hover{
  border-color: white;
  background-color: crimson;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: #ff4000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  will-change: filter;
  transition: filter 300ms;
}
.back-button:hover {
  filter: drop-shadow(0 0 0.7em #fc4001d2);
}

.submit-button {
  background-color: #ff4000;
}
.delete-button:hover {
  background-color: crimson;
}

/* Main Page --------------------------------------------------------------------------- */
.title {
  color: #ff3e00;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 100;
  will-change: filter;
  transition: filter 300ms;
  user-select: none;
}

.title:hover {
  filter: drop-shadow(0 0 1em #ff4000cf);
}

/* Login Page --------------------------------------------------------------------------- */
.login {
  padding: 4.2em;
  border: solid 5px #ff4000;
  border-radius: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  aspect-ratio: 1;
  height: 17em;
  /* background-color: red; */
}

.login > label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: inherit;

}

 
 .login > label > p {
   font-size: larger;
   color:#e14917
} 

.login > label > input {
  background-color: #2424242e;
  height: 2.1em;
  margin: auto;
  border-radius: 4px;
  border: 1px solid #ff4000;
  /* padding: 0 0.5em; */
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: ; */
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;

}

.login > button {
  width: fit-content;
}

  table {
    width: 50%;
    border-collapse: collapse;
    margin: auto; 
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }

  th {
    /* background-color: #f2f2f2; */
    font-weight: bold;
  }

  tr:hover {
    background-color: #e9e9e921;
  }

.table-container {
  display: grid; /* or flex */
  grid-template-rows: auto 1fr; 
  max-height: 500px; /* Set the desired maximum height for the table container */
  overflow-y: auto; /* Enable vertical scroll if content overflows */
  /* Additional styling */
}
/* Search Boxes--------------------------------------------------------------------------- */
.box{
    position: relative;
}

.search-box{
    padding: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: 4px solid #ff4000;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 200px;
    background: #3b3640;
    border-radius: 10px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

.page-section-title {
  text-align: center;
  font-size: 24px; 
  font-weight: bold;
}